body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: rgb(216, 11, 11);
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-widh{
    width: 50%;
    padding-left: 5%;
}
.half-widh image{
    width: 80%;
}
.link-button{
    text-decoration: none;
  background-image: linear-gradient(orange,tomato);
  font-weight: 700px;
    padding: 10px 40px;
    color: white;
border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.ding{
    color: blue;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 10%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
p{
    font-size: 25px;
}
#web{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#ful{
    border-left: 7px solid;
    border-image: linear-gradient(orange, red);
    border-image-slice: 1;
}
